<!--
  Generated template for the ViatgeComponent component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<!-- Latest compiled and minified CSS -->
  <ion-card>
    <ion-card-content>
      <p class="linia" >
        <span style="font-weight: bold">{{viatge.sortida}}</span>
        <span style="text-align: right; padding-left: 5px;">{{dades.origen}}</span>
      </p>
      <div>
        <ion-icon name="arrow-down" style="font-size: 20px;"></ion-icon>
        <ion-icon name="bus" style="font-size: 20px;" ></ion-icon>
      </div>
      <p class="linia">
        <span style="font-weight: bold">{{viatge.arribada}}</span>
        <span style="text-align: right; padding-left: 5px;">{{dades.desti}}</span>
      </p>
    </ion-card-content>
  </ion-card>
